@{
    ViewData["Title"] = "Send Email";
}
<h1>@ViewData["Title"]</h1>

<div>
    <div class="container">
        <div id="note" class="alert alert-info fade show" role="alert">
            Use the below form to send a test email. The fields 'recipient', 'subject' and 'body' are all mandatory.
        </div>
    </div>
    <p>Please enter the details below to send a test email: </p>
    <form id="sendEmailForm" class="form-horizontal" role="form" method="post">
        <div class="mb-3 row">
            <div class="col-sm-12">
                <label class="control-label" htmlFor="title">
                    <span class="text-danger">*</span> Recipient
                </label>
                <input type="email" id="recipient" name="recipient" class="form-control" placeholder="xyz@email.com" required />
            </div>
        </div>


        <div class="mb-3 row">
            <div class="col-sm-12">
                <label class="control-label" htmlFor="title">
                    <span class="text-danger">*</span> Subject
                </label>
                <input type="text" id="subject" name="subject" class="form-control" minlength="5" maxlength="50" placeholder="Email Subject" required />
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-sm-12">
                <label class="control-label" htmlFor="title">
                    <span class="text-danger">*</span> Body
                </label>
                <textarea id="body" name="body" class="form-control" rows="6" 
                placeholder="Email Body Content" minlength="10" maxlength="5000" required></textarea>
            </div>
        </div>

        <div class="text-center">
            <div class="btn-group text-center" role="group">
                <button type="submit" class="btn btn-success">
                    Submit
                </button>
                <button type="reset" class="btn btn-secondary">
                    Reset
                </button>
            </div>
        </div>
        <script src="~/js/email.js" asp-append-version="true"></script>
    </form>
</div>