@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Email Sender</h1>
    <a asp-area="" asp-controller="Home" asp-action="Email">Click this link to begin sending emails!</a>
</div>
